@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family:"Rasa-Bold";
        src: url('assets/fonts/Rasa-Bold.ttf');
    }
    @font-face {
        font-family:"Rasa-Light";
        src: url('assets/fonts/Rasa-Light.ttf');
    }   
    @font-face {
        font-family:"Rasa-Regular";
        src: url('assets/fonts/Rasa-Regular.ttf');
    }    
    @font-face {
        font-family:"Rasa-Medium";
        src: url('assets/fonts/Rasa-Medium.ttf');
    }   
    @font-face {
        font-family:"Rasa-SemiBold";
        src: url('assets/fonts/Rasa-SemiBold.ttf');
    } 
}